.search-input-container{
        display: flex; 
        gap: 8px; 
        background-color: #EBECF6; 
        padding: 16px 20px; 
        border-radius: 8px; 
        width: 100%;      
}

.search-input{
    flex: 1;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1rem;
}