<div class="chat-container">
    <div class="chat-left"><app-chat-bubble [config]="leftConfig"></app-chat-bubble></div>
    <div class="chat-right"><app-chat-bubble [config]="rightConfig"></app-chat-bubble></div>
  </div>
  <div class="search-input">
    <h1>Tìm kiếm</h1>
    <app-search-input (search)="handleSearch($event)"></app-search-input>
  </div>

  <div class="user-chat-card">
    <h1>Trạng thái</h1>
    <app-user-chat-card [config]="UserChat"></app-user-chat-card>
    <app-user-chat-card [config]="UserChatActive"></app-user-chat-card>
  </div>